/PA1_Percolation/nbproject/private/
/PA1_Percolation/build/
/PA1_Percolation/dist/
/PA2_Queues/nbproject/private/
/PA2_Queues/build/
/PA2_Queues/dist/
/PA3_Collinea_ Points/nbproject/private/
/PA3_Collinear_Points/nbproject/private/
/PA3_Collinear_Points/build/
/PA3_Collinear_Points/dist/
/PA4_8puzzle/nbproject/private/
/PA4_8puzzle/build/
/PA4_8puzzle/dist/
/PA5_KD_Trees/nbproject/private/
/PA5_KD_Trees/build/
/PA5_KD_Trees/dist/
/sorts/target/
/PA6_WordNet/nbproject/private/
/PA6_WordNet/build/
/PA6_WordNet/dist/
/PA7_SeamCarving/nbproject/private/
/PA7_SeamCarving/build/
/PA7_SeamCarving/dist/
/PA9_Boggle/nbproject/private/
/PA9_Boggle/build/
/PA9_Boggle/dist/